.plate {
  list-style-type: none;
  background-color: black;
  display: block;
  margin-bottom: 2px;
  height: 1em;
  z-index: 5;
  @for $i from 0 through 4 {
    &.#{"size-"+$i} {
      width: #{40*$i+40}px;
    }
  }
}